version: '3.8'

services:
  web:
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "3001:3000" # React-app-port : container-port for frontend
      - "8001:8000" # json-server-port : container-port for backend
    volumes:
      - .:/usr/src/app
    environment:
      - NODE_ENV=production
